name: Lint

on:
  push:
    paths:
      - '*.py'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.9.1'
    - uses: jamescurtin/isort-action@master
      with:
        requirementsFiles: "requirements.txt"
    - name: Lint with flake8
      run: |
        pip install flake8
        flake8 --exclude .git,env --ignore E501
